<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume portal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat:wght@600;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="global.css"/>
</head>
<body>
  <div>
        <div class="header"><a href="#">Resume portal</a>
          
          <div class="headerButtons">
            <button class="buttonClass buttonOne">Login</button>
            <button class="buttonClass buttonTwo">Register</button>
          </div>
        
        </div>
        
  </div> 

  <div class='mainContainer'>
    <img class='sideImg' src='./user.png' width='300px'/>
    
    <div class='buttonsContainer'>
      <div class='text'>Build your Resume the Right Way</div>
      <a href="/edit"><button class="button button1">Login</button></a>
      
      <a href="/registerForm">
        <button class="button button2">Register</button>
      </a>
    </div>
</div>

</body>
</html>